<div class="content-wrap">

				<div id="section-about" class="container-fluid page-section clearfix">

					<div class="hero-headline bottommargin">
						<h1>Design and development<br>for individuals and<br>small businesses.</h1>
					</div>

					<a href="#" data-scrollto="#section-contact" data-easing="easeInOutExpo" data-speed="1250" data-offset="60" class="button button-dark button-black nomargin">Get in touch</a>
					

					<div class="line topmargin-lg bottommargin-lg"></div>

					<div id="section-services" class="page-section">

						<h2 class="bottommargin">Services</h2>

						<div class="row clearfix">

							<div class="col-md-6 bottommargin">
								<div class="feature-box fbox-plain fbox-dark">
									<div class="fbox-icon">
										<a href="#"><i class="icon-et-desktop"></i></a>
									</div>
									<h3>Site Design</h3>
									<p>Your website is your digital first impression. Make it last with a vibrant, responsive design that helps you reach your customers.</p>
								</div>
							</div>
							<div class="col-md-6 bottommargin">
								<div class="feature-box fbox-plain fbox-dark">
									<div class="fbox-icon">
										<a href="#"><i class="icon-et-gears"></i></a>
									</div>
									<h3>Web Apps</h3>
									<p>Content is king, but functionality is what keeps customers coming back. Build a platform that gives your customers the features they want.</p>
								</div>
							</div>
							<div class="col-md-6 bottommargin">
								<div class="feature-box fbox-plain fbox-dark">
									<div class="fbox-icon">
										<a href="#"><i class="icon-et-wallet"></i></a>
									</div>
									<h3>E-Commerce</h3>
									<p>Build a great store and leverage the power of third-party apps to make selling, paying, and shipping easier. Make sure your store is set up to move product and make your customers happier.</p>
								</div>
							</div>
							<div class="col-md-6 bottommargin">
								<div class="feature-box fbox-plain fbox-dark">
									<div class="fbox-icon">
										<a href="#"><i class="icon-et-mobile"></i></a>
									</div>
									<h3>Cross-Platform Mobile Apps</h3>
									<p>Mobile is the new black, and customers want access to their information wherever they are. Put yourself in their pocket and the possibilities are endless.</p>
								</div>
							</div>

							<div class="clear bottommargin-sm"></div>
						</div>
					</div>
					
					<div class="line bottommargin-lg"></div>

					<div id="section-portfolio" class="page-section">

						<h2 class="bottommargin">Recent Works</h2>
						
						<div id="portfolio" class="clearfix">

							

							<article class="portfolio-item col-md-3" ng-repeat="item in portfolio">
								<div class="portfolio-image">
									<a href="/#/clients/{{item.id}}">
										<img src="images/work/{{item.thumbnail}}" alt="{{item.name}}">
									</a>
									<div class="portfolio-overlay">
										<a href="/#/clients/{{item.id}}" class="center-icon"><i class="icon-line-eye"></i></a>
									</div>
								</div>
								<div class="portfolio-desc">
									<h3><a href="{{item.link}}">{{item.name}}</a></h3>
									<span>{{item.description}}</span>
								</div>
							</article>
						
						</div>


					</div>

					
					
					